In [1]:
import pandas as pd
import numpy as np

In [ ]:
import random
random.seed(9)
idxs = random.sample(list(np.arange(300)), 20)

In [12]:
df = pd.read_csv('/Users/anna/Documents/Code/Ads/experiments/new_distractors/aggregated_annotations.csv').loc[idxs,['image_path', 'ar', 'distractor_1', 'distractor_2']]
df.shape

(20, 4)

In [14]:
df.head()

,image_path,ar,distractor_1,distractor_2
237,62126.jpg,I should buy these clothes because i will look...,I should buy these clothes because I live in P...,I should buy these clothes because I will only...
191,144593.jpg,I should eat at texas brazil because father's ...,I should eat at texas brazil because pork and ...,I should eat at texas de brazil because they k...
136,16608.jpg,I should shop at a this store because they hav...,I should shop at this store because they sell ...,I should shop at this store because they sell ...
70,171400.png,I should shop at Duram's Early Bird Special in...,I should shop at Duram's Early Bird Special be...,I should shop at Duram's Early Bird Special be...
95,142518.jpg,I should get some lipstick because it will mak...,I should get some lipstick because my new unif...,I should get some lipstick because it was crea...

In [15]:
df.loc[df.image_path=='62126.jpg', ['ar', 'distractor_1', 'distractor_2']].values[0]

array(['I should buy these clothes because i will look like a model',
       'I should buy these clothes because I live in Paris.',
       'I should buy these clothes because I will only see in black and white.'],
      dtype=object)

In [19]:
df.to_csv(annotations.csv', index=False)

In [21]:
df = pd.read_csv('annotations.csv')

In [ ]:
df1 = df[:10]
# df1

In [49]:
df1.to_csv('annotations.csv')

In [23]:
df2 = df[10:].reset_index(drop=True)

In [24]:
df2.head()

,image_path,ar,distractor_1,distractor_2,answer
0,160131.jpg,I should buy this car because it is family fri...,I should buy these water balloons because they...,I should buy this hose pipe because kids like ...,NaN
1,60698.jpg,I should buy GE refrigerators because they are...,I should buy GE refrigerators because there ar...,I should buy GE fruit because my kids love to ...,NaN
2,25607.jpg,I should buy Heinz beans because they taste go...,I should buy Heinz beans because five kinds of...,I should buy Heinz beans because I can save 50...,NaN
3,176715.png,I should buy this product to keep up with the ...,I should buy this smartphone because I like ex...,I should buy this smartphone because I will ge...,NaN
4,65714.jpg,I should order Hanes online because they have ...,I should order Hanes online because they sell ...,I should order a dog online because it has fre...,NaN

In [30]:
thing = list(df2.image_path)*3
len(thing)

30

In [31]:
d = {'image_path':list(df2.image_path)*3,
'statement' : list(df2.ar)+list(df2.distractor_1)+list(df2.distractor_2),
'id': ['ar']*10 + ['d1']*10 + ['d2']*10}
df3 = pd.DataFrame(d)

In [34]:
random.seed(15)
idxs = random.sample(list(np.arange(30)), 30)

In [46]:
d = {'image_path': df3.image_path[idxs].values,
'statement' : df3.statement[idxs].values,
'id': df3.id[idxs].values}
df4 = pd.DataFrame(d)

In [48]:
df4.to_csv('ranking_annotations.csv', index=False)

In [45]:
df3.image_path.values

array(['160131.jpg', '60698.jpg', '25607.jpg', '176715.png', '65714.jpg',
       '112447.jpg', '17358.jpg', '23781.jpg', '53258.jpg', '33163.jpg',
       '160131.jpg', '60698.jpg', '25607.jpg', '176715.png', '65714.jpg',
       '112447.jpg', '17358.jpg', '23781.jpg', '53258.jpg', '33163.jpg',
       '160131.jpg', '60698.jpg', '25607.jpg', '176715.png', '65714.jpg',
       '112447.jpg', '17358.jpg', '23781.jpg', '53258.jpg', '33163.jpg'],
      dtype=object)

In [4]:
df = pd.read_csv('ranking_annotations.csv')
df['answer'] = [None] * 30

In [5]:
df.to_csv('ranking_annotations.csv', index=False)